[Desktop Entry]
Type=Application
Name=Pianoteq
Exec=gamemoderun "Pianoteq 7"
Comment=Virtual Instrument from Modartt
Categories=Audio;Video;AudioVideo;Recorder
Icon=com.modartt.Pianoteq
